
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-1-1SH {
  height: 483.9rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  width: 100%;
}
