
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.portfolio-n7b {
  box-sizing: border-box;
  padding-top: 3.4rem;
  width: 100%;
  align-items: center;
  background-color: #27005d;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .container-TDj {
    width: calc(100% - 56.7rem);
    height: 2.637rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 31.7rem 13.5rem 25rem;

    .left-8jB {
      width: 11.7rem;
      height: 2.637rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 92rem;
    }
    .links-TWZ {
      flex-shrink: 0;
      margin: 0.1185rem 0;
      height: calc(100% - 0.237rem);
      display: flex;
      column-gap: 2.1rem;
      align-items: center;

      .makersnavigationitem-b6y {
        width: 6.9rem;
        text-transform: uppercase;
        font-family: Poppins, 'Source Sans Pro';
        color: #aed2ff;
        white-space: nowrap;
        height: 100%;
        font-size: 1.6rem;
        line-height: 1.5;
        letter-spacing: 0.3rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        cursor: pointer;
        font-weight: 500;
        justify-content: center;
      }
      .makersnavigationitem-D8M {
        cursor: pointer;
        font-size: 1.6rem;
        font-family: Poppins, 'Source Sans Pro';
        width: 10.5rem;
        height: 100%;
        line-height: 1.5;
        justify-content: center;
        flex-shrink: 0;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        color: #aed2ff;
        white-space: nowrap;
        display: flex;
        align-items: center;
      }
      .makersnavigationitem-KBP {
        font-size: 1.6rem;
        white-space: nowrap;
        align-items: center;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        color: #aed2ff;
        display: flex;
        justify-content: center;
        width: 10rem;
        height: 100%;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .container-DXf {
    margin: 0rem 51.2rem 10.6rem 32.4rem;
    width: calc(100% - 83.5999rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .left-side-Kqb {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 2.4rem 18rem 0rem 0rem;

      .im-john-Two {
        max-width: 23.3rem;
        font-size: 5rem;
        font-weight: 700;
        line-height: 1.5;
        color: #e4f1ff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 2.4rem;

        .im-john-Two-sub-0 {
        }
        .im-john-Two-sub-1 {
          font-size: 5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #9400ff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .makersbutton-R9s {
        font-weight: 500;
        letter-spacing: 0.2rem;
        font-family: Poppins, 'Source Sans Pro';
        border: solid 0.3rem #9400ff;
        width: 19.1rem;
        font-size: 2rem;
        line-height: 1.5;
        white-space: nowrap;
        justify-content: center;
        height: 6.2rem;
        cursor: pointer;
        color: #9400ff;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        flex-shrink: 0;
      }
    }
    .paragraph-tZF {
      color: #e4f1ff;
      margin: 2.4rem 13.2rem 0rem 0rem;
      font-weight: 400;
      line-height: 1.6000000636;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 50.7rem;
      font-size: 1.8rem;
      letter-spacing: 0.0386rem;
    }
    .group-2-BoF {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .socials-8Tb {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 4.15rem 0rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
      }
      .socials-Fo7 {
        margin: 0rem 0rem 4.283rem 0rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .socials-PPX {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 4.024rem 0rem;
        width: 3.2rem;
        height: 2.8925rem;
        object-fit: contain;
      }
      .behance-iwb {
        margin-left: 0.0001rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .work-Ssb {
    background-color: #27005d;
    flex-shrink: 0;
    margin-right: 0.1rem;
    box-sizing: border-box;
    padding: 7.7rem 50rem 4.2rem 31.8rem;
    display: flex;
    align-items: flex-end;

    .auto-group-ykfj-Mjf {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 2.4rem 0.272rem 0rem;

      .my-skills-Vqs {
        margin: 0rem 0rem 6.7rem 2.9rem;
        font-size: 4.8rem;
        line-height: 1.5;
        letter-spacing: -0.144rem;
        flex-shrink: 0;
        font-weight: 700;
        color: #e4f1ff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .image-1-obf {
        position: relative;
        background-size: 272.727% 100%;
        background-position: 0 0;
        background-image: url('REPLACE_IMAGE:dab5e2e991bcf0ed1782ae46795bda35ea6b5276');
        flex-shrink: 0;
        width: 9.328rem;
        height: 9.328rem;
      }
    }
    .image-2-JHX {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 15.872rem 0.272rem 0rem;
      width: 9.328rem;
      height: 9.328rem;
    }
    .image-3-DfP {
      height: 9.328rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 15.872rem 0.272rem 0rem;
      width: 9.328rem;
    }
    .premiere-9Z3 {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 15.9rem;
      width: 9.3rem;
      height: 9.3rem;
      object-fit: contain;
    }
    .image-4-6DP {
      width: 9.3rem;
      height: 9.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .projects-dDK {
    box-sizing: border-box;
    display: flex;
    background-color: #27005d;
    flex-shrink: 0;
    margin: 0rem 0.1rem 0rem 0rem;
    padding: 4.6rem 44.55rem 2rem 33.7rem;
    width: 191.9rem;
    align-items: center;
    flex-direction: column;

    .projects-vCR {
      margin: 0rem 94.75rem 16.2rem 0rem;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.5;
      color: #e4f1ff;
      white-space: nowrap;
      letter-spacing: -0.144rem;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .container-2FT {
      margin: 0rem 2.6rem 19.4rem 12.25rem;
      width: calc(100% - 14.85rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .item-3-1-ZFP {
        width: 50rem;
        height: 50rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 10.8rem;
      }
      .text-tYZ {
        flex-shrink: 0;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;

        .title-qyb {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          font-family: Poppins, 'Source Sans Pro';
          line-height: 1.5;
          letter-spacing: -0.026rem;
          color: #9ebce2;
          font-size: 4.2rem;
          font-weight: 700;
        }
        .workplace-platform-m-Z8u {
          line-height: 1.8333333333;
          letter-spacing: 0.0386rem;
          color: #e4f1ff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 38rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
    }
    .container-57F {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0rem 14.8rem 12.25rem;
      width: calc(100% - 12.25rem);
      display: flex;

      .text-QvD {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 4rem 7rem 0rem 0rem;

        .title-ZYD {
          font-size: 4.2rem;
          font-weight: 700;
          color: #9ebce2;
          font-family: Poppins, 'Source Sans Pro';
          margin-bottom: 1.6rem;
          line-height: 1.5;
          letter-spacing: -0.026rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .workplace-platform-m-h8d {
          font-weight: 400;
          line-height: 1.8333333333;
          letter-spacing: 0.0386rem;
          color: #e4f1ff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 43rem;
          font-size: 1.8rem;
        }
      }
      .rbc-2-2Ro {
        width: 51.4rem;
        height: 51.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .container-yM3 {
      margin: 0rem 6rem 19.4rem 12.25rem;
      width: calc(100% - 18.25rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .tes-doang-1-W65 {
        flex-shrink: 0;
        margin-right: 10.7rem;
        width: 50.1rem;
        height: 50rem;
        object-fit: cover;
        vertical-align: top;
      }
      .text-3Lu {
        flex-shrink: 0;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;

        .title-1Hj {
          font-weight: 700;
          line-height: 1.5;
          color: #9ebce2;
          margin-bottom: 1.6rem;
          font-size: 4.2rem;
          letter-spacing: -0.026rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .workplace-platform-m-YHf {
          flex-shrink: 0;
          max-width: 34.6rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.8333333333;
          letter-spacing: 0.0386rem;
          color: #e4f1ff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .container-TvR {
      margin: 0rem 1.4rem 0rem 12.25rem;
      width: calc(100% - 13.65rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .text-Cd7 {
        margin: 4rem 4.667rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .title-Ygy {
          flex-shrink: 0;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.026rem;
          font-family: Poppins, 'Source Sans Pro';
          margin-bottom: 1.6rem;
          font-size: 4.2rem;
          color: #9ebce2;
          white-space: nowrap;
        }
        .workplace-platform-m-sDT {
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 43.1rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.8333333333;
          letter-spacing: 0.0386rem;
          color: #e4f1ff;
        }
      }
      .buat-di-crop-2-bQM {
        width: 52.2333rem;
        height: 50rem;
        position: relative;
        background-size: 124.152% 183.315%;
        background-position: -6.4629rem -13.4982rem;
        background-image: url('REPLACE_IMAGE:08385ab4bbff79079bdbb9eaeab9031d4340261e');
        flex-shrink: 0;
      }
    }
  }
  .about-GWV {
    width: 191.9rem;
    align-items: center;
    flex-direction: column;
    background-color: #27005d;
    flex-shrink: 0;
    margin-right: 0.1rem;
    padding: 27.5rem 45.95rem 28.1rem 45.95rem;
    box-sizing: border-box;
    display: flex;

    .contact-zhP {
      white-space: nowrap;
      flex-shrink: 0;
      letter-spacing: -0.144rem;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.5;
      color: #e4f1ff;
      font-family: Poppins, 'Source Sans Pro';
      margin: 0rem 80.9rem 5.8rem 0rem;
    }
    .details-upM {
      background-color: #9400ff;
      box-sizing: border-box;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 60rem;
      width: 40rem;
      row-gap: 1.6rem;

      .detail-ELq {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        .email-CHf {
          font-size: 1.6rem;
          font-weight: 500;
          flex-shrink: 0;
          text-transform: uppercase;
          color: #27005d;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.3rem;
          line-height: 1.5;
          letter-spacing: 0.6331rem;
        }
        .johndoeexamplecom-gyX {
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.0386rem;
          color: #aed2ff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
      .detail-mVB {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        .email-uLV {
          font-size: 1.6rem;
          line-height: 1.5;
          text-transform: uppercase;
          color: #27005d;
          margin-bottom: 0.3rem;
          font-weight: 500;
          letter-spacing: 0.6331rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .johndoeexamplecom-Qo3 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.0386rem;
          color: #aed2ff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .detail-LAu {
        flex-direction: column;
        flex-shrink: 0;
        display: flex;

        .email-6fs {
          margin-bottom: 0.3rem;
          font-size: 1.6rem;
          white-space: nowrap;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: 0.6331rem;
          text-transform: uppercase;
          color: #27005d;
        }
        .johndoeexamplecom-q7f {
          letter-spacing: 0.0386rem;
          color: #aed2ff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
  }
  .footer-98M {
    padding: 4rem 81.15rem;
    width: 191.9rem;
    height: 19.6rem;
    background-color: #27005d;
    flex-shrink: 0;
    margin-right: 0.1rem;
    box-sizing: border-box;

    .text-5Gu {
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;

      .workplace-platform-m-qG5 {
        margin-bottom: 0.8rem;
        text-align: center;
        font-weight: 400;
        line-height: 2;
        color: #aed2ff;
        flex-shrink: 0;
        max-width: 29.6rem;
        font-size: 1.8rem;
        letter-spacing: 0.0386rem;
        font-family: Poppins, 'Source Sans Pro';

        .workplace-platform-m-qG5-sub-0 {
        }
        .workplace-platform-m-qG5-sub-1 {
          letter-spacing: 0.0386rem;
          text-decoration-line: underline;
          color: #aed2ff;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 2;
        }
        .workplace-platform-m-qG5-sub-2 {
        }
      }
      .workplace-platform-m-88h {
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.0386rem;
        color: #aed2ff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.8rem;
        line-height: 2;
        flex-shrink: 0;
      }
    }
  }
}
